
.container .new-tweet {
	background-color: lightblue;
	border-radius: 15px;
	width: 400px;
	height: 150px;
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	margin-bottom: 5%;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	margin-bottom: 100px;
}

.container textarea {
	width: 380px;
	margin-left: 10px;
	
}

.container input {
	margin-left: 10px;
}

.container h2 {
	margin-top: 10px
	margin-left: 10px;
	border-bottom: 1px solid black;
}

#header {
	display: flex;
	flex-direction: row;
}

#footer {
	display: flex;
	flex-direction: row;
}

.text {
	color: black;
    font-weight: 500;
    margin-left: 5px;
}

.article {
 	margin-top: 5%;
 	width: 404px;
 	opacity: .5;
    margin-bottom: 5%;
    border: 2px solid grey;
    border-radius: 17px;

 }

.article:hover {
	opacity: 1;
}

 .article header {
 	display: flex;
 	color: black;
 	background-color: lightgrey;
	border-radius: 15px 15px 0px 0px;

 }

 .article footer {
 	display: flex;
    flex-direction: row;
 	color: black;
 	background-color: lightgrey;
	border-radius: 0px 0px 15px 15px;
 }
 	
 #counter {
 	position: : relative;
 	float: right;
    text-align: right;
    margin-right: 10px
 }

 #error {
 	color: red;
 	font-size: 15px;
 	font-weight: 50%;
 	margin-left: 15px;
 	opacity: 0;
 	float: left;
 }

 #submit {
 	float: left; 
 }

 .handle {
 	float: right;
    font-size: 15px;
    font-weight: 400;
    margin-left: 100px;
 }

 .name {
 	margin-left: 2%;
 	font-weight: bolder;
 	font-size: 20px;
 	margin-top: 1%;
 	color: #264b81;
 }

 .user-avatar {
 	max-width: 80%;
 	max-height: 80%;
 	margin: 2%;
 	border-radius: 5px;
 }

 .date {
 	margin-top: 0px;
    margin-bottom: 0px;
 }

.icons {
	margin-left: 50%;
    margin-top: 1%;
    opacity: 0;
}

.article:hover .icons {
	opacity: 1;
}

.date {
    margin-top: 1%;
    margin-left: 3%;
}

.fa {
	margin: 5px;
}


